<article class='post'>
  <div class='post-header'>
    <div class='title'>
      <a href='/posts/{{id}}'> {{title}}</a>
    </div>
    <div class='user-info'>
      <span>Posted by: {{user.username}} on {{format_date createdAt}}</span>
    </div>
  </div>
  <div class='post-body'>
    <p> {{content}} </p>
  </div>
</article>