<div class='back-to-dash-wrapper'>
  <a class='back-to-dash' href='/dashboard'> &larr; Back to dashboard</a>
</div>

<article>
  <div class="edit-post-header-wrapper">
    <h2 class="edit-post-header"> Edit Post </h2>
  </div>
  <form class="edit-post-form">
    <div class="input-wrapper">
      <input name="post-title" type="text" value="{{post.title}}"/>
    </div>
    <div class="input-wrapper">
      <textarea class="post-content">{{post.content}}</textarea>
    </div>
    <div class="input-wrapper">
      <a class="comment" href="/posts/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <div class="input-wrapper">
      <button type="submit">Save post</button>
      <button type="button" class="delete-post-btn">Delete post</button>
    </div>
  </form>
</article>

<form class="comment-form">
  <div class="comment-header-wrapper">
    <h2 class="comment-header"> New Comment</h2>
  </div>
  <div class="input-wrapper comment-textarea">
    <textarea name="comment-body"></textarea>
  </div>

  <div class="input-wrapper">
    <button class="comment-submit" type="submit">Add comment</button>
  </div>
</form>

{{> comments post.comments}} 


<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>